.track-container {
  max-width: 350px;
}

.parcel-list {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.parcel-list::-webkit-scrollbar {
  display: none;
}

.parcel-card {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #333;
  opacity: 0;
  animation: parcelSlideIn 0.5s ease forwards;
}

.parcel-card.exit {
  animation: parcelSlideOut 0.5s ease forwards;
}

.parcel-card:last-child {
  border-bottom: none;
}

.parcel-header {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.color-np {
  color: #ff392e;
}

.parcel-status {
  margin-bottom: 4px;
  color: #fff;
  font-weight: 500;
}

.parcel-route {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.parcel-warehouse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}

.parcel-footer {
  font-style: italic;
}

@keyframes parcelSlideIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
